<h2>Work History</h2>
    <div>
        <h4 class = "jobtitle">Kitchen Manager, Oct. 2015 - Jun. 2018</h4>
            <div class = "workblocks">
                Café Sam, Bloomfield, PA
                <ul>
                    <li>Manager, Trainer, Adapter, Leader</li>
                </ul>
            </div>
        
        <h5 class = "jobtitle">Unit Leader, Summers of 2011-2013, 2015</h5>
        <div class = "workblocks">
        Camp Lutherlyn, Prospect, PA
        <ul>
            <li>Supervisor, Facilitator, Coordinator</li>
        </ul>
    </div>
        <h5 class = "jobtitle">Cook, February – May 2015</h5>
        <div class = "workblocks">
        Blackbear Burritos, Morgantown, WV
        <ul>
            <li>Learner, Multitasker, Listener</li>
        </ul>
    </div>
            
    </div>